@keyframes rise {
  from {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

@property --hue {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@supports (display: grid) and (not (display: inline-grid)) {
  a {
    display: grid;
  }
}

@container card (min-width: 400px) {
  b {
    width: 50%;
  }
}
